body {
  margin: 8% 10%;
}

div,
h1,
h2 {
  line-height: 160%;
}

ruby {
  line-height: 100%;
}

rt {
  line-height: 50%;
}

span.notes {
  font-size: smaller;
}

img.gaiji {
  width: 1em;
  height: 1em;
  align: top;
}

.gaiji_list {
  margin-left: 3em;
}

.keigakomi {
  border: solid 1px;
}

div.keigakomi {
  padding: {
    top: 0.5em;
    bottom: 0.5em;
    right: 0.5em;
    left: 1em;
  }
}

.futoji {
  font-weight: bold;
}

.shatai {
  font-style: italic;
}

@mixin sen_border($position, $style) {
  font-style: normal;
  border-#{$position}-style: $style;
}

@mixin sen_textdeco($position, $style) {
  font-style: normal;
  text-decoration: $position;
  @each $prefix in -webkit-, -moz-, -ms-, '' {
    #{$prefix}text-decoration-style: $style;
  }
}

/*
@mixin senten_after($bg_path) {
  @include senten_style(0 0 7px 0, "after/" + $bg_path);
}

@mixin senten_before($bg_path) {
  @include senten_style(7px 0 0, "before/" + $bg_path);
}
*/

/*
text-decoration-style works only on Firefox at this moment
*/

@each $position in underline, overline {
  @each $style in solid, wavy {
    $style_name: $style;
    @if $style == 'wavy' {
      $style_name: wave;
    }
    .#{$position}_#{$style_name} { @include sen_textdeco($position, $style) }
  }
}

@each $position in underline, overline {
  @each $style in double, dotted, dashed {
    $border_position: 'bottom';
    @if $position == 'overline' {
      $border_position: 'top';
    }
    .#{$position}_#{$style} { @include sen_border($border_position, $style) }
  }
}

@mixin ten($style) {
  font-style: normal;
  @each $prefix in -webkit-, -moz-, -ms-, '' {
    #{$prefix}text-emphasis: $style;
  }
}

.sesame_dot { @include ten(filled sesame) }
.white_sesame_dot { @include ten(open sesame) }
.black_circle { @include ten(filled circle) }
.white_circle { @include ten(open circle) }
.black_up-pointing_triangle { @include ten(filled triangle) }
.white_up-pointing_triangle { @include ten(open triangle) }
.fisheye  { @include ten(filled double-circle) }
.bullseye { @include ten(open double-circle) }

/*
.sesame_dot_after { @include senten_after("ten/boten.png") }
.white_sesame_dot_after { @include senten_after("ten/shirogoma.png") }

.black_up-pointing_triangle { @include senten_before("ten/kurosankaku.png") }
.white_up-pointing_triangle { @include senten_before("ten/shirosankaku.png") }

.bullseye { @include senten_before("ten/nijyumaru.png") }
.fisheye  { @include senten_before("ten/jyanome.png") }
.saltire  { @include senten_before("ten/batsu.png") }

.black_circle_after { @include senten_after("ten/maru.png") }
.white_circle_after { @include senten_after("ten/shiromaru.png") }
.black_up-pointing_triangle_after { @include senten_after("ten/kurosankaku.png") }
.white_up-pointing_triangle_after { @include senten_after("ten/shirosankaku.png") }
.bullseye_after { @include senten_after("ten/nijyumaru.png") }
.fisheye_after { @include senten_after("ten/jyanome.png") }
.saltire_after { @include senten_after("ten/batsu.png") }
*/

.subscript,
.superscript,
.kaeriten,
.okurigana {
  font-size: small;
}

/* inline objects */
.dogyo-o-midashi,
.dogyo-naka-midashi,
.dogyo-ko-midashi,
.mado-o-midashi,
.mado-naka-midashi,
.mado-ko-midashi {
  display: inline;
}

/* headings */
@mixin heading_style($fontsize) {
  font-size: $fontsize;
  margin: 0%;
}

h3 { @include heading_style(125%) }
h4 { @include heading_style(large) }
h5 { @include heading_style(medium) }

.caption {
  font-size: small;
  font-weight: bold;
}

/*
.complex_ruby {
  rt.real_ruby:before {
    content: "（"
  }
  rt.real_ruby:after {
    content: "）"
  }
}
*/

/* dynamic contents using javascript */
.contents_invisible {
  display: none;
}
.contents_visible {
  display: block;
  margin-left: 3em;
  text-indent: -1em;
}
