body {
  margin: 8% 10%;
}

div,
h1,
h2 {
  line-height: 160%;
}

ruby {
  line-height: 100%;
}

rt {
  line-height: 50%;
}

span.notes {
  font-size: smaller;
}

img.gaiji {
  width: 1em;
  height: 1em;
  align: top;
}

.gaiji_list {
  margin-left: 3em;
}

.keigakomi {
  border: solid 1px;
}

div.keigakomi {
  padding: {
    top: 0.5em;
    bottom: 0.5em;
    right: 0.5em;
    left: 1em;
  }
}

.futoji {
  font-weight: bold;
}

.shatai {
  font-style: italic;
}

@mixin sen_border($position, $style) {
  font-style: normal;
  border-#{$position}-style: $style;
}

@mixin sen_textdeco($position, $style) {
  font-style: normal;
  text-decoration: $position;
  @each $prefix in -webkit-, -moz-, -ms-, '' {
    #{$prefix}text-decoration-style: $style;
  }
}

/*
text-decoration-style works only on Firefox at this moment
*/
@each $position in underline, overline {
  @each $style in solid, wavy {
    $style_name: $style;
    @if $style == 'wavy' {
      $style_name: wave;
    }
    .#{$position}_#{$style_name} { @include sen_textdeco($position, $style) }
  }
}

@each $position in underline, overline {
  @each $style in double, dotted, dashed {
    $border_position: 'bottom';
    @if $position == 'overline' {
      $border_position: 'top';
    }
    .#{$position}_#{$style} { @include sen_border($border_position, $style) }
  }
}

@mixin ten($style, $position:over) {
  font-style: normal;
  @each $prefix in -webkit-, -moz-, -ms-, '' {
    #{$prefix}text-emphasis: $style;
    #{$prefix}text-emphasis-position: $position;
  }
}

@each $position in over, under {
  $posname: '';
  @if $position == 'under' {
    $posname: '_after'
  }
  .sesame_dot#{$posname} { @include ten(filled sesame, $position) }
  .white_sesame_dot#{$posname} { @include ten(open sesame, $position) }
  .black_circle#{$posname} { @include ten(filled circle, $position) }
  .white_circle#{$posname} { @include ten(open circle, $position) }
  .black_up-pointing_triangle#{$posname} { @include ten(filled triangle, $position) }
  .white_up-pointing_triangle#{$posname} { @include ten(open triangle, $position) }
  .fisheye#{$posname} { @include ten(filled double-circle, $position) }
  .bullseye#{$posname} { @include ten(open double-circle, $position) }
  .saltire#{$posname} { @include ten('\2716', $position) }
}

.subscript,
.superscript,
.kaeriten,
.okurigana {
  font-size: small;
}

/* inline objects */
.dogyo-o-midashi,
.dogyo-naka-midashi,
.dogyo-ko-midashi,
.mado-o-midashi,
.mado-naka-midashi,
.mado-ko-midashi {
  display: inline;
}

/* headings */
@mixin heading_style($fontsize) {
  font-size: $fontsize;
  margin: 0%;
}

h3 { @include heading_style(125%) }
h4 { @include heading_style(large) }
h5 { @include heading_style(medium) }

.caption {
  font-size: small;
  font-weight: bold;
}

/*
.complex_ruby {
  rt.real_ruby:before {
    content: "（"
  }
  rt.real_ruby:after {
    content: "）"
  }
}
*/

/* dynamic contents using javascript */
.contents_invisible {
  display: none;
}
.contents_visible {
  display: block;
  margin-left: 3em;
  text-indent: -1em;
}
